server:
  port: 8080

spring:
  application:
    name: quickcart-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/Retail
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  security:
    user:
      name: admin
      password: admin123

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

logging:
  level:
    org.hibernate.SQL: DEBUG
